# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Devcontainer configuration
.devcontainer/

# Streamlit secrets
.streamlit/secrets.toml

# Installed dependencies
*.egg-info/
.eggs/
*.egg

# Distribution / packaging
*.wheel
*.egg
dist/
build/
*.spec

# Logs and databases
*.log
*.sqlite3
*.db
*.sav

# GitHub files
.DS_Store
Thumbs.db

# IDE or Editor-specific
.idea/
.vscode/
*.swp
*.swo
*.bak

# Local saved files
saved_routes.json
